.list-item-container {
  list-style-type: none;
  border: 1px solid #ffffff;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 120px;
  width: 200px;
  padding-bottom: 10px;
  margin-right: 10px;
}
.initial-letter {
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 600;
  background-color: #10b981;
  height: 30px;
  width: 30px;
  text-align: center;
  align-items: center;
  border-radius: 100px;
  border: none;
  margin-left: 10px;
}
.list-items {
  display: flex;
  justify-content: flex-start;
}
.website-name {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  color: #f8fafc;
  margin-left: 10px;
}
.user-name {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  color: #f8fafc;
  margin-left: 10px;
}
.password {
  font-size: 14px;
  color: #f8fafc;
  margin-left: 10px;
}

.delete-container {
  outline: none;
  cursor: pointer;
  border: none;
}
.delete-icon {
  height: 20px;
  width: 20px;
}
.star-img {
  width: 5px;
}
